* {
    -fx-main-color: #800000;
    -fx-hover-color: #993939;
}

.body {
    -fx-focus-color: none;
    -fx-background-color: white;
    -fx-font: 15px "Century Gothic";
}

.text-field, .text-area, .list-view {
    -fx-border-color: -fx-main-color;
}

.label {
    -fx-text-fill: -fx-main-color;
}

.button {
    -fx-background-color: -fx-main-color;
    -fx-text-fill: white;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane .title {
    -fx-background-color: -fx-main-color;
}

.check-box, .combo-box .cell {
    -fx-text-fill: -fx-main-color;
}

.check-box .box, .combo-box {
    -fx-background-color: white;
    -fx-border-color: -fx-main-color;
}

.check-box:selected .box .mark, .combo-box-base .arrow {
    -fx-background-color: -fx-main-color;
}

/*todo change combobox slider color and width*/

.list-cell .label {
    -fx-font-size: 17px;
}

.list-cell:selected {
    -fx-background-color: -fx-hover-color;
}

.list-cell:selected .label {
    -fx-text-fill: white;
}

.null, .not-null, .pk, .fk {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 26px;
    -fx-background-color: transparent;
}

.null {
    -fx-background-image: url("../images/attributes_icons/rhombus-outline.png");
}
.not-null {
    -fx-background-image: url("../images/attributes_icons/rhombus.png");
}
.pk {
    -fx-background-image: url("../images/attributes_icons/key-variant.png");
}
.fk {
    -fx-background-image: url("../images/attributes_icons/key.png");
}

.popup {
    -fx-text-fill: white;
    -fx-background-color: -fx-hover-color;
    -fx-background-radius: 5px;
}
